header{
    overflow: hidden;
    background-color: white;
    top: 0;
    width: 100%;
    border-bottom: black 1px solid;
    margin-bottom: 30px;
    text-align: center;
    font-family: "Palatino", monospace;
}


h1{
    font-size:5vmax;


}



body{

    margin: 0;
    padding: 0;
    background-color: salmon;
    font-family: monospace;


}

main{

    text-align: center;

}
ul{
    padding: 0;
    list-style-type: none;

}

.bottom{

    padding: 3px;
}
.button{

    margin-top:1vmax ;
    border: 1px solid black;
    background-image: linear-gradient(salmon, white);
    text-align: center;
    font-size: 3vmax;
}


footer{

    background: #ffffff;
    border-top: 1px solid #000000;
    bottom: 0;
    position: absolute;
    width: 100%;
    font-family: monospace;
    text-align: center ;


}

img{

    width:20%;
    height:20%;
    max-width: 155px;
    max-height: 350px;
}
