
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


*{

    font-family:  monospace;

}


header{
    overflow: hidden;
    background-color: white;
    top: 0;
    width: 100%;
    border-bottom: black 1px solid;
    margin-bottom: 30px;
    text-align: center;

}


h1{
    font-size:5vmax;


}



body{

    margin: 0;
    padding: 0;
    background-color: salmon;
    font-family: monospace;


}

main{

    text-align: center;

}
ul{
    padding: 0;
    list-style-type: none;

}

.bottom{

    padding: 3px;
}
.button{

    width: 40%;
    padding: 5px 10px;
    background-color: #fdd3ce;
    color:black;
    border: 2px solid black;
    border-radius: 6px;
    margin-bottom: 6px;
    font-size: 2.5vmax;
}

footer{

    background: #ffffff;
    border-top: 1px solid #000000;
    bottom: 0;
    position: absolute;
    width: 100%;
    font-family: monospace;
    text-align: center ;


}

img{

    width:20%;
    height:20%;
    max-width: 155px;
    max-height: 350px;
}

#Question{

    padding: 0px 5px;
}
